:root{
  --black: #070000;
  --white: #ececec;
  --red: #A80E00;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: Roboto, sans-serif;
}

body{
  background-image: url('../assets/Network.png');
  -webkit-font-smoothing: antialiases;
}

a{
  text-decoration: none;
}