<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>[[X]]COVID</title>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="./styles/main.css">
  <link rel="stylesheet" href="./styles/home.css">
</head>
<body>
  <header>
    <img src="./assets/logo.png" alt="Logo">
    <div class="profile">
    <span>
      <i class="fas fa-user-alt"></i>
      <p>Perfil</p>
    </span>
    </div>
    <div class="navbar">
      <a href=""><p>Notícias</p></a>
      <a href=""><p>Salas de VR</p></a>
      <a href=""><p>Rotas</p></a>
    </div>
    <div class="buttons">
      <button>EMERGÊNCIA</button>
    </div>
    <div class="bell">
      <i class="fas fa-bell fa-2x"></i>
    </div>
  </header>
  <main>
    <div class="map">
      <iframe src="https://monserv-e118c.web.app/" style="border:0px #ffffff none;" name="myiFrame" 
      scrolling="no" frameborder="1" marginheight="0px" marginwidth="0px" height="800px" width="100%" 
      allowfullscreen margin="20px"></iframe>
    </div>
  </main>
</body>
</html>