<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>[[X]]COVID</title>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="/public/styles/form.css">
</head>
<body>
  <form action="./home.html" method="GET">
    <div class="login-box">
      <img src="../public/assets/logo.png" alt="Logo">
      <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" name="name" id="name">
      </div>
      <div class="form-group">
        <label for="Senha">Senha</label>
        <input type="password" name="password" id="password">
      </div>
      <button type="submit">Login</button>
      <p>Ainda não possui uma conta? <a href="#">Cadastre-se!</a></p>
      <div class="form-group-social">
        <h1>Acesse com:</h1>
        <ul class="social-icons">
          <li><i class="fab fa-facebook-square fa-lg"></i></li>
          <li><i class="fab fa-twitter-square fa-lg"></i></li>
          <li><i class="fab fa-google-plus-square fa-lg"></i></li>
        </ul>
      </div>
    </div>
  </form>
  <footer>
    <p>Copyright time 12</p>
  </footer>
</body>
</html>