<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>[[X]]COVID</title>
  <link rel="stylesheet" href="./styles/form.css">
</head>
<body>
  <form action="/" method="GET">
    <div class="login-box">
      <img src="./assets/logo.png" alt="Logo">
      <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" name="name" id="name">
      </div>
      <div class="form-group">
        <label for="Senha">Senha</label>
        <input type="password" name="password" id="password">
      </div>
      <div class="form-group">
        <label for="state">Estado</label>
        <input type="text" name="state" id="state">
      </div>
      <div class="form-group">
        <label for="city">Cidade</label>
        <input type="text" name="city" id="city">
      </div>
      <div class="form-group">
        <label for="job">Profisão</label>
        <input type="text" name="job" id="job">
      </div>
      <div class="form-group">
        <label for="age">Idade</label>
        <input type="text" name="age" id="age">
      </div>
      <button type="submit">Sing up</button>
    </div>
  </form>
</body>
</html>